.searchContent {
  flex: 1;
  background-color: #eeeeee;
  ul {
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .searchItem {
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 5px;
      margin-bottom: 3px;
      border-bottom: 1px solid #f2f0e7;
      align-items: center;

      .bookcover {
        width: 175px;
        height: 275px;
        margin: 10px 10px 0 5px;

        a {

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .details {
        width: 220px;

        .title {
          margin-bottom: 10px;
          padding: 5px;

          a {
            color: black;
            font-weight: bold;
            text-decoration: none;


          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .searchContent {
    ul {
      padding: 2px;
      .searchItem {
        .bookcover {
          width: 155px;
        }

        .details {
          width: 200px;

          .title {
            a {
              text-align: start;

              h3 {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}