.searchContent {
  flex: 1;
  ul {
    .searchItem {
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 5px;
      margin-bottom: 3px;
      border-bottom: 1px solid #f2f0e7;
      align-items: center;
      .bookcover {
        width: 175px;
        margin: 10px 10px 0 5px;
        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}